# Copyright (C) 2017-2019  Kouhei Sutou <kou@clear-code.com>
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

version: "3.3"

services:
  proxy:
    image: ranguba/chupa-text:proxy
    command:
      - ./start.sh
    expose:
      - "3128"
    volumes:
      - /var/log/chupa-text/proxy:/var/log/squid:z
  chupa-text:
    image: ranguba/chupa-text:latest
    command:
      - ./start.sh
    ports:
      - "127.0.0.1:20080:3000"
    environment:
      http_proxy: http://proxy:3128/
      https_proxy: http://proxy:3128/
      RAILS_SERVE_STATIC_FILES: "true"
    env_file:
      - chupa-text.env
    volumes:
      - /var/log/chupa-text/rails:/home/chupa-text/chupa-text-http-server/log:z
    depends_on:
      - proxy
